hyperparameters are the variables that will determine how the model <br>
will be trained, in order to output the results that we need <br>
we have to *tune* them

In [97]:
# creating the evaluating function
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

def evaluate_regression_preds(y_true, y_preds):
    """
    evaluate a regression model performance based on four criteria:
    accuracy, r2_score, MAE and MSE. I print the scores and create
    a dict with the values in it
    """
    r_squared = r2_score(y_true, y_preds)
    mae = mean_absolute_error(y_true, y_preds)
    mse = mean_squared_error(y_true, y_preds)
    metrics_dict = {'R squared': round(r_squared, 2),
                    'mean absolute error': round(mae, 2),
                    'mean squared error': round(mse, 2)}

    print(f'R squared score: {r_squared * 100:.2f}%')
    print(f'mean absolute error: {mae * 100:.2f}')
    print(f'mean squared error: {mse * 100:.2f}')
    
    return metrics_dict

In [80]:
# importing the hungarian chickenpox dataset
import pandas as pd
chickenpox = pd.read_csv('data/hungary_chickenpox.csv')
chickenpox.head()

,Date,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,...,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
0,03/01/2005,168,79,30,173,169,42,136,120,162,...,130,57,2,178,66,64,11,29,87,68
1,10/01/2005,157,60,30,92,200,53,51,70,84,...,80,50,29,141,48,29,58,53,68,26
2,17/01/2005,96,44,31,86,93,30,93,84,191,...,64,46,4,157,33,33,24,18,62,44
3,24/01/2005,163,49,43,126,46,39,52,114,107,...,63,54,14,107,66,50,25,21,43,31
4,31/01/2005,122,78,53,87,103,34,95,131,172,...,61,49,11,124,63,56,7,47,85,60

In [81]:
# creating a column with the total of each case per day 
chickenpox['total'] = chickenpox.sum(axis = 1)
chickenpox.head()

,Date,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,...,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA,total
0,03/01/2005,168,79,30,173,169,42,136,120,162,...,57,2,178,66,64,11,29,87,68,1807
1,10/01/2005,157,60,30,92,200,53,51,70,84,...,50,29,141,48,29,58,53,68,26,1407
2,17/01/2005,96,44,31,86,93,30,93,84,191,...,46,4,157,33,33,24,18,62,44,1284
3,24/01/2005,163,49,43,126,46,39,52,114,107,...,54,14,107,66,50,25,21,43,31,1255
4,31/01/2005,122,78,53,87,103,34,95,131,172,...,49,11,124,63,56,7,47,85,60,1478

In [82]:
from sklearn.ensemble import RandomForestRegressor

rg = RandomForestRegressor()

rg.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [99]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

np.random.seed(10)

X = chickenpox.drop(['total', 'Date'], axis = 1)
y = chickenpox.total

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .15)

rg = RandomForestRegressor(n_estimators = 200)

rg.fit(X_train, y_train)

# making baseline predictions
y_preds = rg.predict(X_test)

baseline_metrics = evaluate_regression_preds(y_test, y_preds)

R squared score: 95.10%
mean absolute error: 7412.79
mean squared error: 1415121.74